.tabla-puntuaciones {
    width: 100%;
    font-size: 2rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    white-space: nowrap;
  }

@media (max-width: 800px) {
  .tabla-puntuaciones {
    font-size: 2rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}